.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  display: flex;
  position:relative;
  height: 100vh;
  overflow: hidden;
}

.page{
  width:100%;
  
}

.header-content{
  padding:10px;
  display: flex;
  margin-left: 250px;
  transition: margin-left 200ms;
  align-items: center;
}

.content{
  margin-left: 250px;
  transition: margin-left 200ms;
  background: yellow;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.search{
  margin-left: 20px;
  padding: 5px 10px;
}

.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 30px;
  border-radius: 10px;
  background: #fff;
}

label{
  text-align: left;
}

input{
  display: block;
}

.form-field{
  text-align: left;
  margin:auto;
  width:100%;
  margin-bottom: 20px;
}

.center{
  /* display: flex;
  justify-content: center;
  height:100vh;
  align-items: center; */
  position: absolute;
  top:40%;
  left:50%;
  transform:translate(-50%, -50%);
  width:100%;
}

.form-container{
  max-width: 300px;
  margin: auto;
}

.input-element{
  border: 2px solid green;
  padding: 10px;
  border-radius: 5px;
  margin-top:5px;
  width: 100%;
  box-sizing: border-box;
}

.primary-btn{
  background: green;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid green;
  outline: none;
  border-radius: 5px;
}

.secondary-btn{
  background: #fff;
  color: #282c34;
  padding: 5px 10px;
  border: 2px solid green;
  outline: none;
  border-radius: 5px;
}

.sidebar{
  background: #eff3ff;
  height: 100vh;
  width: 250px;
  position: absolute;
  top:10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: width 200ms;
  padding-top: 50px;
}

ul,li{
  list-style-type: none;
  margin:0;
  padding:0;
  text-align: left;
}

.list{
  padding: 20px;
}

.list-item{
  background: #ccc;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.header{
  background: #2744a1;
  width:100%;
  height: 50px;
}

h1{
  margin:0;
  padding: 10px;
}

a{
  text-decoration: none;
}



.header-two{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background: #ccc;
}

.header-right{
  display: flex;
  align-items: center;
}

.filter{
  background: skyblue;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  margin: 5px;
}

.tabs{
  display: flex;
  padding: 20px;
}

.tab-item{
  cursor: pointer;
  padding: 5px;
}

.tab-item:not(:last-child):after{
    border-right: 2px solid skyblue;
    height: 10px;
    width: 2px;
}

.selected{
  border-bottom: 2px solid skyblue;
}

.tab-content{
  padding: 20px;
}